hr.end {
  height: 1px;
  margin-bottom: 1em;
}
h2.comments {
  font-size: 20px;
  margin-bottom: 1em;
}
#comment-grid {
  display: block;
  width: 100%;
  overflow: hidden;
}
#main .comment.big {
  width: 100%;
}
#main .comment {
  font-size: 16.2px;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: calc(100% / 2 - 10px);
}
#main .comment .comment {
  width: unset;
  margin: 0px -6px 9px -6px;
}
#main .comment .header {
  margin-top: 10px;
  display: flex;
}
#main .comment .header svg {
  display: inline;
  margin-top: 1px;
  margin-left: -3px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  opacity: 100%;
}
#main .comment .header title {
  display: inline;
  font-weight: 500;
  font-size: 16px;
}
#main .comment .header aside {
  font-style: italic;
  font-size: 13px;
}
#main .comment .header .info {
  margin-top: 1px;
}
#main .comment p {
  margin: 5px 0;
}
#main .comment h1 {
  font-size: 24px;
}
#main .comment h2 {
  font-size: 20px;
}
#main .comment .end {
  padding-bottom: 10px;
  text-align: right;
  margin-right: -10px;
  font-weight: 500;
  font-size: 15px;
}
#main .comment .end aside a {
  margin-right: 10px;
  font-size: 14px;
}
@media (max-width: calc(720px / 0.85)) {
  #main .comment {
    width: 100%;
  }
}
#novo-comentário {
  margin-top: 1em;
}
#novo-comentário summary {
  font-size: 18px;
}
#novo-comentário summary h3 {
  font-size: inherit;
  display: inline;
}
#novo-comentário aside {
  font-size: 12pt;
  font-style: italic;
}
#novo-comentário #comment-form {
  margin-top: 1em;
}
#novo-comentário #comment-form textarea,
#novo-comentário #comment-form .EasyMDEContainer {
  width: 400px;
}
#novo-comentário #comment-form textarea {
  height: 300px;
  resize: none;
}
#haha {
  position: absolute !important;
  height: 0 !important;
  width: 0 !important;
  z-index: -1 !important;
  visibility: hidden !important;
}
.editor-toolbar {
  padding: 0px 5px !important;
}
.EasyMDEContainer .CodeMirror {
  padding: 0 !important;
}
