#!/usr/bin/env ruby

ignore '/**/org-imports/*'

route '/blog/**/*' do
  y,m,d,slug = /(\d+)\-(\d+)\-(\d+)\-([^\/\.]+)/
                 .match(item.identifier).captures

  if item.identifier =~ "/blog/*.{html,org,md,erb}"
    "/#{y}/#{m}/#{d}/#{slug}/index.html"
  else
    rest, = /\d+\-\d+\-\d+\-(.*)/
             .match(item.identifier).captures
    "/#{y}/#{m}/#{d}/#{rest}"
  end
end

route '/**/index.*' do
  item.identifier.without_ext + '.html'
end

route '/**/*.{html,org,md,erb}' do
  item.identifier.without_ext + '/index.html'
end

route '/**/*' do
  item.identifier.to_s
end

# Maybe we don't need html at all
# compile '/**/*.html' do
#   layout '/default.*'
# end

compile '/media/*svg' do
  filter :scale_svgs, scale: 1.3
end

compile '/*.erb' do
  filter :erb
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*.org' do
  # FIXME mudar para svgs "imersos" no html
  args = [{:from => :org,
           :to => :html5,
           :metadata => 'lang:pt-BR'},
          :mathjax]

  args += [{:lua_filter => './lib/org_bib.lua',
            :csl => 'citstyle.csl'},
           :citeproc] if @item[:citations]

  args.append({:lua_filter => './lib/latex-fig.lua'}) if @item[:latex]

  filter :pandoc, args: args

  filter :typogruby

  if item.identifier =~ "/blog/*"
    layout '/article.*'
  else
    layout '/article.*'
  end
end

compile '/**/*' do
end

layout '/**/*', :erb
