---
title: feed
---

<h1>Blog</h1>

<p></p>

<% sorted_articles[0, 3].each do |post| %>
    <div class="post-list">
        <h2><%= link_to post[:title], post.path %></h2>
        <aside>tags: <%= tags_for post %> ~ <%= post[:created_at].strftime("%d/%m/%Y") %></aside>
        <article>
            <% filter :fix_links, link: post.path do %>
                <%= post.compiled_content %>
            <% end %>
        </article>
    </div>
<% end %>
<p><a href="/archive">&larr; Archive</a></p>
