javascript:
  const jdenticon_config = { padding: 0 }
script [src="https://cdn.jsdelivr.net/npm/jdenticon@3.1.0/dist/jdenticon.min.js" defer
        integrity="sha384-VngWWnG9GS4jDgsGEUNaoRQtfBGiIKZTiXwm9KpgAeaRn6Y/1tAFiyXqSzqC8Ga/" crossorigin="anonymous"]

script [id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"]

link [rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"]
script [src="https://unpkg.com/easymde@2.15.0/dist/easymde.min.js"]
