hr.end {
    height: 1px;
    margin-bottom: 1em;
}

h2.comments {
    font-size: 20px;
    margin-bottom: 1em;
}

#comment-grid {
    display: block;
    width: 100%;
    overflow: hidden;
}

#main .comment.big {
    width: 100%;
}

#main .comment {
    font-size: 16.2px;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: ~"calc(100% / 2 - 10px)";

    .comment {
        width: unset;
        margin: 0px -6px 9px -6px;
    }

    .header {
        margin-top: 10px;
        display: flex;

        svg {
            display: inline;
            margin-top: 1px;
            margin-left: -3px;
            margin-right: 5px;
            width: 35px;
            height: 35px;
            opacity: 100%;
        }

        title {
            display: inline;
            font-weight: 500;
            // font-style: italic;
            font-size: 16px;
        }

        aside {
            font-style: italic;
            font-size: 13px;
        }

        .info {
            margin-top: 1px;
        }
    }

    p {
        margin: 5px 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .end {
        padding-bottom: 10px;
        text-align: right;
        margin-right: -10px;
        // font-style: italic;
        font-weight: 500;
        font-size: 15px;

        aside {
            a {
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: ~"calc(720px / 0.85)") {
  #main .comment {
    width: 100%;
  }
}

#novo-comentário {
    margin-top: 1em;

    summary {
        font-size: 18px;

        h3 {
            font-size: inherit;
            display: inline;
        }
    }

    aside {
        font-size: 12pt;
        font-style: italic;
    }

    #comment-form {
        margin-top: 1em;

        textarea, .EasyMDEContainer {
            width: 400px;
        }
        textarea {
            height: 300px;
            resize: none;
        }
    }

}

#haha {
    position: absolute !important;
    height: 0 !important;
    width: 0 !important;
    z-index: -1 !important;
    visibility: hidden !important;
}

.editor-toolbar {
    padding: 0px 5px !important;
}

.EasyMDEContainer .CodeMirror {
    padding: 0 !important;
}


