<!DOCTYPE HTML>
<html lang="pt-br">
    <%= render '/components/head.html' %>
    <body>
        <canvas style="position:fixed; top:0; left:0; z-index:-1" id="fundo" resize></canvas>
        <header>
              <a href="/" class="blog-name"><h2><%= @config[:name] %> <i class="twa twa-cat"></i></h2></a>
              <nav>
                  <ul>
                      <% @config[:tree].each do |leaf| %>
                      <li><a href="<%= leaf[1] %>"><%= leaf[0] %></a></li>
                      <% end %>
                  </ul>
                  <img src="/assets/hamburger.svg" id="menu-icon">
              </nav>
          </header>
          <div id="main">
            <%= yield %>
            <%= render '/components/foot.html' %>
        </div>
        <div id="sidebar">
            <a href="/" class="blog-name"><h2><%= @config[:name] %> <i class="twa twa-cat"></i></h2></a>
            <ul>
                <% @config[:tree].each do |leaf| %>
                <li><a href="<%= leaf[1] %>"><%= leaf[0] %></a></li>
                <% end %>
            </ul>
        </div>
    </body>
</html>
