<!DOCTYPE HTML>
<html lang="pt-br">
    <%= render '/components/head.html' %>
    <body>
        <div id="main">
            <%= yield %>
            <%= render '/components/foot.html' %>
        </div>
        <div id="sidebar">
            <a href="/"><h2><%= @config[:name] %> <i class="twa twa-cat"></i></h2></a>
            <ul>
                <% @config[:tree].each do |leaf| %>
                <li><a href="<%= leaf[1] %>"><%= leaf[0] %></a></li>
                <% end %>
            </ul>
        </div>
    </body>
</html>
